body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.selects-container {
  display: flex;
  gap: 2rem; /* Adjust spacing as needed */
}

.parent-selects-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 30px;
}
