body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.selects-container {
  display: flex;
  gap: 2rem; /* Adjust spacing as needed */
}

.parent-selects-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 30px;
}

/* Cards de meses */
/* Grilla para los meses */
.months-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
  gap: 8px;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
  overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
}

/* Month card styling */
.month-card {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Card design */
.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
}

/* Selected month styling (fixing border-only issue) */
.selected-month .card {
  background-color: var(--accent-color) !important;
  color: white;
  border-radius: 8px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .months-grid {
    grid-template-columns: repeat(
      12,
      minmax(50px, 1fr)
    ); /* Keep all 12 months in one row */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
  }

  .card {
    font-size: 0.5rem; /* Smaller text for mobile */
    width: 60px; /* Adjust card width */
  }
}
