.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  flex-grow: 1;
}

body,
html,
#root {
  /* Target the root elements */
  height: 100%; /* Make them full height */
  margin: 0; /* Remove default margins */
}

.table-container {
  padding-bottom: 20px;
}
.table-div {
  margin-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  /* max-height: 50vh; */
  /* height: 50vh; */
}

.table td,
table th {
  word-wrap: break-word !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  position: sticky !important;
}

.table-body-scroll {
  overflow-y: auto;
  max-height: 30vh;
  table-layout: fixed;
}

.table-header-sortable {
  cursor: pointer;
}

.table-header-hover {
  background-color: var(--accent-color) !important; /* Use !important */
  transition: background-color 0.3s ease;
}

/* Estilos Scrollbar */
/* WebKit browsers (Chrome, Safari) */
.table-div {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background-color);
}
